*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --text-color:black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0,0,0,0.05);
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover:rgba(0,0,0,0.05);
  --highlight-color: rgba(0,0,0,0.2);
  --switch-bg-url: url(./assets/sun.svg);
}

.dark {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255,255,255,0.5);
  --surface-color:rgba(255,255,255,0.01);
  --surface-color-hover:rgba(255,255,255,0.02);
  --highlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);

}
 

body{
  
  background: var(--bg-url) no-repeat top center/cover;
  font-family: "Inter", sans-serif;
  height:100vh;
 
}

#container {
  width:100%;
  max-width: 588px;
  padding: 0 24px;
  display:flex;
  margin:auto;
  padding-top:56px;
  gap: 8px;
  flex-direction: column;
  text-align: center;
  padding: 0 24px;
  padding: 0 24px;

}
#profile {
  text-align: center;
  padding:24px;
  margin-top: 8px;
}

#profile img {
  width: 112px;
  font-weight: 500;
  line-height:24px;
}
#profile p {
  color: var(--text-color);
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
#switch{
  width: 64px;
  position:relative;
  margin: 4px auto;
}

#switch button {
width:32px;
height:32px;
background:#ffff var(--switch-bg-url) no-repeat center;
border-radius: 50%;
border: 0;

position: absolute;
z-index: 1;
top:50%;
transform: translateY(-50%) translateX(0%);
transition: transform 200ms ease-in-out;

}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.dark #switch button {

transform: translateY(-50%) translateX(-100%);

}

#switch span {
display:block;
width: 64px;
height: 24px;
border-radius: 9999px;
border: 1px solid var(--stroke-color);
background: var(--surface-color);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);

}

ul{
  list-style: none;

  display: flex;
  gap:16px;
  flex-direction: column;

  padding: 24px 0;

}

ul li a{
  color:var(--text-color);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  margin-bottom: 16px;
  text-decoration: none;
  font-weight: bold;


  transition: background-color 200ms;
}

ul li a:hover {

  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);

}

#social-links{

  display:flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;

}

#social-links a {

  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius:50%;

}

#social-links a:hover{
  background: var(--highlight-color);
}

footer {
color:var(--text-color);
padding: 24px;
text-align:center;

}

footer a{
  color:inherit; 
}
/* media queries*/

@media(min-width : 700px){
  :root {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }

.dark{
  --bg-url: url(./assets/bg-desktop.jpg);
}

}